// 全局变量
@import './variables/variables.scss';
// 工具类函数
@import './mixin/mixin.scss';
//通用配置
@import './normalize/normalize.scss';

a {
  text-decoration: none;
  color: #333;
}
* {
  outline: none;
}
//滚动条样式
@include scrollBar;
